/target
/.scala_dependencies
/.settings
/.classpath
/.project
/bin
/.cache
*/*.aux
*/*.log
*/*.synctex.gz
*/*.toc
/*/QSim_Molinari_Rosito.pdf

#####=== Maven ===#####

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

